flows.json
[
    {
        "id": "04b4189ce39925d0",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9383a7bf45733b2f",
        "type": "serial in",
        "z": "04b4189ce39925d0",
        "name": "COM5",
        "serial": "bc458f249b1ceb4b",
        "x": 170,
        "y": 240,
        "wires": [
            [
                "22856d32f4734929"
            ]
        ]
    },
    {
        "id": "22856d32f4734929",
        "type": "json",
        "z": "04b4189ce39925d0",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 330,
        "y": 160,
        "wires": [
            [
                "1ea0464bbcb529a1"
            ]
        ]
    },
    {
        "id": "1ea0464bbcb529a1",
        "type": "function",
        "z": "04b4189ce39925d0",
        "name": "function 1",
        "func": "msg.headers = {\n    'Device-Token':'675b571a-481c-41e6-b48f-c1809ea6f5ed',\n    'Content-Type':'application/json'\n};\n\nvar action = [\n    {\n        'variable':'dist',\n        'unit':'cm',\n        'value':msg.payload,\n    }\n]\n\nmsg.payload = action\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 120,
        "wires": [
            [
                "fc0a2f8d85985614"
            ]
        ]
    },
    {
        "id": "fc0a2f8d85985614",
        "type": "http request",
        "z": "04b4189ce39925d0",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "api.tago.io/data",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 630,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "c8be8a61fc484b7c",
        "type": "ui_button",
        "z": "04b4189ce39925d0",
        "name": "",
        "group": "f1c2c33e9d5af082",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Meio",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "M",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 440,
        "wires": [
            [
                "6d26d8749981e1d8"
            ]
        ]
    },
    {
        "id": "241cceb6178a7297",
        "type": "ui_button",
        "z": "04b4189ce39925d0",
        "name": "",
        "group": "f1c2c33e9d5af082",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Direita",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "R",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 480,
        "wires": [
            [
                "6d26d8749981e1d8"
            ]
        ]
    },
    {
        "id": "7d915c4e040f97bd",
        "type": "ui_button",
        "z": "04b4189ce39925d0",
        "name": "",
        "group": "f1c2c33e9d5af082",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "LigaLed",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "A",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 180,
        "y": 560,
        "wires": [
            [
                "6d26d8749981e1d8"
            ]
        ]
    },
    {
        "id": "3a0ee2a568d06b71",
        "type": "ui_button",
        "z": "04b4189ce39925d0",
        "name": "",
        "group": "f1c2c33e9d5af082",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Esquerda",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "L",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 180,
        "y": 520,
        "wires": [
            [
                "6d26d8749981e1d8"
            ]
        ]
    },
    {
        "id": "14a398a8f38a7f1f",
        "type": "ui_button",
        "z": "04b4189ce39925d0",
        "name": "",
        "group": "f1c2c33e9d5af082",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "DesligaLed",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "B",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 600,
        "wires": [
            [
                "6d26d8749981e1d8"
            ]
        ]
    },
    {
        "id": "6d26d8749981e1d8",
        "type": "serial out",
        "z": "04b4189ce39925d0",
        "name": "COM5",
        "serial": "bc458f249b1ceb4b",
        "x": 430,
        "y": 540,
        "wires": []
    },
    {
        "id": "bc458f249b1ceb4b",
        "type": "serial-port",
        "name": "COM5",
        "serialport": "COM5",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "f1c2c33e9d5af082",
        "type": "ui_group",
        "name": "Default",
        "tab": "40a6523d8c6d2625",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "40a6523d8c6d2625",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]